### String

In [3]:
"""
문자열 (String)
"""
str_1 = 'Hello'
str_2 = 'World!'

print(str_1 + str_2) # Concatenation
print("str_1_len:", len(str_1))
print("str_2_len:", len(str_2))

HelloWorld!
str_1_len: 5
str_2_len: 6

In [1]:
"""
문자열 - 큰 따옴표, 작은 따옴표를 문자 그대로 문자열에 반영
"""
msg_1 = '우리는 "Python" 활용을 배웁니다!'
msg_2 = "우리는 'Python' 활용을 배웁니다!"
print("msg_1:", msg_1)
print("msg_2:", msg_2)

msg_3 = "Python\'s popularity is getting high." # 백슬래시 활용
msg_4 = "\"Python is easy.\" he says."
print("msg_1:", msg_3)
print("msg_2:", msg_4)

msg_1: 우리는 "Python" 활용을 배웁니다!
msg_2: 우리는 'Python' 활용을 배웁니다!
msg_1: Python's popularity is getting high.
msg_2: "Python is easy." he says.

In [5]:
"""
문자열 - 여러 줄로 구성돤 문장을 문자열로 저장
"""
multi_str1 = "Life is too short.\nYou need Python!"
multi_str2 = """
Life is too short.
You need Python!
""" 
print(multi_str1)
print(multi_str2)

Life is too short.
You need Python!

Life is too short.
You need Python!

In [14]:
# 문자열 - 이스케이프 코드 (Escape Code)
# \n, \t, \\, \', \", \r, \f, \a, \b, \000 
print("Python\nis\nquite\ngood.")
print("Python\tis\tquite\tgood.")
print("This string is Null: \000")

Python
is
quite
good.
Python	is	quite	good.
This string is Null:  

In [2]:
# 문자열 - 연결, 반복
head = "Python"
tail = "is good!"
print(head + tail)

a = "Python~~" # 반복
print(a*2)

print("="*40) # 반복 응용
print("Python Basics Part 1")
print("="*40)

Pythonis good!
Python~~Python~~
========================================
Python Basics Part 1
========================================

In [ ]:
# 문자열 - 인덱싱, 슬라이싱
a = "Life is too short. You need Python!"

print(a[3])     # indexing
print(a[-0])    # same as print(a[0])
print(a[-1])    # last character
print(a[-5])    # 뒤에서 다섯번째 문자

print(a[0:4])   # slicing: 시작번호, 끝번호 => 끝번호 이전까지만 접근
print(a[19:])   # index 19부터 문자열 끝까지 접근, 공백도 문자로 인식
print(a[:17])   # index 0 ~ 16까지 접근
print(a[:])     # 전체 문자열 접근
print(a[19:-7]) # index 19부터 뒤에서 8번째 인덱스까지 접근

e
L
!
t
Life
You need Python!
Life is too short
Life is too short. You need Python!
You need

In [ ]:
# 문자열 - 임의 문자 수정
a = 'Pithon'
print(a[1])
a[1] = 'y' # 결과는? => 불변형(immutable) 자료형

i

TypeError: 'str' object does not support item assignment

In [ ]:
# 문자열 - 임의 문자 수정 
# 실습: 그럼 어떻게 수정할 수 있을까?
# 힌트: 슬라이스 활용
a = 'Pithon'
a = a[:1] + 'y' + a[2:]
a

'Python'

In [39]:
# 문자열 - farmatting 1
# 문자열 포맷 코드: %s, %c, %d, %f, %o, %x, %%
a = "I have %d laptop computers." % 3
print(a)

a = "I have %s laptop computers."  % "three"
print(a)

num = 10
a = "I have %d apples." % num
print(a)

num = 10 
day = "three"
a = "I ate %d oranges in one day and got sick for %s days." %(num, day)
print(a)

num = 98 # 98%
a = "Error is approximately %d%%." % num
print(a)

I have 3 laptop computers.
I have three laptop computers.
I have 10 apples.
I ate 10 oranges in one day and got sick for three days.
Error is approximately 98%.

In [ ]:
# 문자열 - formatting 2
print("%10s" % "hi")  # 전체 길이가 10인 문자열에서 hi을 오른쪽으로 정렬
print("%-10s" % "hi") # 전체 길이가 10인 문자열에서 hi을 왼쪽으로 정렬

print("%0.4f" % 3.42134234)  # 실수의 소수점 4자리까지말 표현
print("%10.4f" % 3.42134234) # 전체 길이가 10인 문자열에서 오른쪽으로 정렬하고, 소수점 4자리까지만 표현

        hi
hi
3.4213
    3.4213

In [64]:
# 문자열 - formatting 3 (고급)
# {0}: 1st variable
# {1}: 2nd variable
print("I ate {0} oranges in one day and got sick for {1} days.".format(10, 'three'))

I ate 10 oranges in one day and got sick for three days.

In [ ]:
# 문자열 - 관련 함수 1: count, find, index
a = "appreciate"
print(a.count('p'))   # 문자열에서 p의 개수
print(a.find('b'))    # 문자열에서 b가 처음나온 위치, 존재하지 않으면 -1 리턴
print(a.find('i'))    # 문자열에서 i가 처음나온 위치, 존재하지 않으면 -1 리턴

b = 'Life is good.'
print(b.index('i'))   # 문자열에서 i가 처음나온 인덱스 반환 => find와 기능 동일

c = ","
c.join("abcdefghijk") # 문자열의 각 문자 사이에 ','을 삽입

2
-1
6
1
HI THERE
hi there
hi
hi
h

In [58]:
# 문자열 - 관련 함수 2: upper, lower, lstrip, rstrip, strip
d = "hi there"
print(d.upper()) # 주어진 문자열을 모두 대문자로 변경
d = "HI THERE"
print(d.lower()) # 주어진 문자열을 모두 소문자로 변경

e = "  hi"
print(e.lstrip()) # 왼쪽 공백 제거
e = "hi  "
print(e.rstrip()) # 오른쪽 공백 제거
e = "  hi  "
print(e.strip())  # 양쪽 공백 제거

HI THERE
hi there
hi
hi
hi

In [ ]:
# 문자열 - 관련 함수 3: replace, split
a = "Life is too short!"
print(a.replace("Life", "Your measuring tape")) # Life => Your measuring tape

b = "Life is too short!"
print(b.split())    # 공백을 기준으로 문자열 분리하고 리스트에 저장하여 리턴

c = "a:b:c:d"
print(c.split(':')) # :을 기준으로 문자열 분리하고 리스트에 저장하여 리턴

Your measuring tape is too short!
['Life', 'is', 'too', 'short!']
['a', 'b', 'c', 'd']

In [6]:
"""
문자열 사용자 입력 받아 출력
"""
msg_str = input("아무 문자열이나 입력하시오: ")
print(msg_str)

test

In [ ]:
"""
문자열 다수 입력으로 과외 광고 만들기
"""
major = input("전공 학과는?: ")
course_1 = input("과외 과목 1은?: ")
course_2 = input("과외 과목 2은?: ")
time = input("일주일에 몇회 수업?: ")
cost = input("과외 비용은?: ")
contact = input("연락처는?: ")

print("##################################")
print("#\t\t\t\t #")
print("#\t 중고생 과외 광고\t #")
print("#\t\t\t\t #")
print("##################################")

print("저는 성신여자대학교", major, "학과에 재학중입니다.")
print(course_1, "과", course_2, "과목을 일주일에", time, "회 집중 과외가 가능합니다.")
print("상기 조건으로", cost, "만원 학생을 모집하고 있으니,", contact, "으로 연락주세요.")

"""
원하는 결과
#######################################
#                                     #
# 중고생 과외 광고                        #
#                                     #
#######################################
저는 성신여자대학교 OOOO학과에 재학중입니다.
OOO과 OOO 과목을 일주일에 O회 집중 과외가 가능합니다.
상기 조건으로 OO만원 학생을 모집하고 있으니, OOOO으로 연락주세요.
"""

##################################
#				 #
#	 중고생 과외 광고	 #
#				 #
##################################
저는 성신여자대학교 1 학과에 재학중입니다.
1 과 1 과목을 일주일에 1 회 집중 과외가 가능합니다.
상기 조건으로 1 만원 학생을 모집하고 있으니, 1 으로 연락주세요.

'\n원하는 결과\n#######################################\n#                                     #\n# 중고생 과외 광고                     #\n#                                     #\n#######################################\n저는 성신여자대학교 OOOO학과에 재학중입니다.\nOOO과 OOO 과목을 일주일에 O회 집중 과외가 가능합니다.\n상기 조건으로 OO만원 학생을 모집하고 있으니, OOOO으로 연락주세요.\n'

In [3]:
"""
정수 값 300과 700을 각각 입력 받고 출력
"""
num_1 = input("아무 정수 값이나 입력하세요: ")
num_2 = input("아무 정수 값이나 입력하세요: ")
sum = num_1 + num_2
print(num_1, "과", num_2, "의 합은", sum, "입니다")

"""
정수 값 300과 700을 각각 입력 받고 출력
"""
num_1 = int(input("아무 정수 값이나 입력하세요: "))
num_2 = int(input("아무 정수 값이나 입력하세요: "))
sum = num_1 + num_2 
print(num_1, "과", num_2, "의 합은", sum, "입니다")

300 과 700 의 합은 300700 입니다
300 과 700 의 합은 1000 입니다

In [11]:
# BMI 코드를 셀이 아니라 bmi_cal.py에 작성하고,
# Jupyter Notebook 코드 셀에서 실행시켜 보자!

!python bmi_cal.py

mhr: 190